<div class="card">
  <img class="card-img-top" src="{{ image.webformatURL }}" alt="Card image cap">
  <div class="card-body">
    <span *ngFor="let tag of image.tagsArray">
      <span class="badge badge-primary">{{ tag }}</span>
    </span>
    <h5 class="card-title">{{ image.type }}</h5>
    <p>
      Posted by:
      <i class="fas fa-user"></i> {{ image.user}}
    </p>
    <button type="button" class="btn btn-primary">
      <i class="far fa-thumbs-up"></i>
      <span class="badge badge-light">{{ image.likes }}</span>
    </button>
    <button type="button" class="btn btn-danger">
      <i class="far fa-heart"></i>
      <span class="badge badge-light">{{ image.favorites }}</span>
    </button>
  </div>
</div>